.quarterChooserContainer{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgb(43, 43, 43);
    padding: .5rem;
    border-radius: .3rem;
}
.textContainer{
    margin-left: .75rem;
    margin-right: .75rem;
}