
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    width: 5rem;
    height: 2rem;
    border: 2px solid white;
    border-collapse: collapse;
}
.hasTask{
    background-color: darkolivegreen;
}